.App {
  text-align: center;
  background-image: url("./components/seares.jpg") ;
  background-repeat: no-repeat;
  font-family: 'Lobster', cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1{
  color: white;
}
.app-title{
  color: black;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.outer_div{
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 500px);
  column-gap: 50px;
  row-gap: 20px;
  overflow: hidden;
}
.card{
  margin: 0 10%;
  margin-top: 9%;
  background-color: black ;
  padding:8% 4% 0 4%;
  border-radius: 10px;
  color: white;
  width: 80%;
  border:5px solid black;
  box-sizing: content-box;
  /* overflow: hidden; */
}
.card:hover {
  margin: 0 10%;
  margin-top: 9%;
  background-color: black ;
  padding:8% 4% 0 4%;
  border-radius: 10px;
  color: white;
  width: 80%;
  border:5px solid black;
  box-sizing: content-box;
  /* overflow: hidden; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card_title{
  text-align: center;
  width: 100%;
  height: 10%;
  margin-top: -30px;
}
.image_div{
  padding:2%;
  height: 100%;
}
.card_image{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.card_image:hover{
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
 } 
.card_description{
  height: 0;
}
.card_description_visible{
  text-align: center;
  height: 10%;
  position: absolute;
  width: 23.5%;
  margin-bottom: 7px;
  margin-top: -7%;
  box-sizing: content-box;
  background-color: rgba(0, 0, 0,0.4);
  padding-top: 20px;
  align-items: center;
  border-radius: 10px;
  transition: all 1s ease;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
.card-body{
  width: 100%;
  height: 80%;
  overflow: hidden;
}
.card-description-script{
  font-size: 0.8em;
}